<h1>Les articles</h1>

<a (click)="logout();">Me déconnecter !</a>
<a [routerLink]="['/ajout']">Ajouter un article</a>


<div *ngIf="!articles">
  Chargement en cours !!!
</div>

<table *ngIf="articles">
  <thead>
  <td>Id</td>
  <td>titre</td>
  <td>Contenu</td>
  <td>Image</td>
  <td>Action</td>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles">
    <td>{{ article.id }}</td>
    <td>{{ article.title }}</td>
    <td>{{ article.contenu }}</td>
    <td>
      <img class="img-table" src="{{ article.image }}" alt="Oops"/>
    </td>
    <td>
      <a *ngIf="article.id" (click)="removeArticle(article.id)">Supprimer</a>
      <a [routerLink]="['/', article.id]">Voir en détail</a>
      <a [routerLink]="['edit/', article.id]">Editer</a>
    </td>
  </tr>
  </tbody>
</table>

<input [type]="type"><fa-icon (click)="changeFormType()" [icon]="icon"></fa-icon>
