<div *ngIf="!article">
  Chargement en cours
</div>

<div *ngIf="article">
  <h1>{{ article.title }}</h1>

  <div>{{ article.contenu }}</div>

  <img src="{{ article.image }}" alt="Oops">

  <a [routerLink]="['/']">Retour</a>
</div>
