<div *ngIf="!article">
  Chargement en cours !!
</div>

<div *ngIf="article">
  <h1>Editer l'article {{ article.title }}</h1>
  <a [routerLink]="['/']">Retour</a>


  <form #globalFormValidation="ngForm" (ngSubmit)="submitForm()">
    <label for="titre">Titre</label>
    <input #titreValidation="ngModel" type="text"
           name="titre" id="titre"
           required [(ngModel)]="article.title">
    <div *ngIf="!titreValidation.valid">
      Le titre est mal saisie
    </div>

    <label for="contenu">Contenu de l'article</label>

    <textarea required #validationContenu="ngModel" name="contenu" id="contenu" [(ngModel)]="article.contenu"></textarea>
    <div *ngIf="!validationContenu.valid">
      Vous devez saisir un contenu
    </div>

    <label for="image">Image de l'article</label>
    <input type="text" name="image" [(ngModel)]="article.image" id="image">


    <input [disabled]="!globalFormValidation.valid" type="submit">
  </form>

</div>
