<h1>M'enregistrer !</h1>

<form #globalFormValidation="ngForm" (ngSubmit)="registerUser()">

  <label for="username">Username</label>
  <input #usernameValidation="ngModel"
         [(ngModel)]="userForm.username"
         required type="text" name="username" id="username">
  <div *ngIf="!usernameValidation.valid">Veuillez saisir un username</div>

  <label for="password">Mot de passe</label>
  <input #passwordValidation="ngModel"
         type="password" required name="password"
         id="password" [(ngModel)]="userForm.password">
  <div *ngIf="!passwordValidation.valid">Veuillez saisir un mot de passe</div>
  <input type="submit">
</form>

<a [routerLink]="['/login']">Me connecter</a>
