<h1>Ajouter un article</h1>
<a [routerLink]="['/']">Retour</a>

<form #globalFormValidation="ngForm" (ngSubmit)="submitForm()">
  <label for="titre">Titre</label>
  <input #titreValidation="ngModel" type="text"
         name="titre" id="titre"
         required [(ngModel)]="articleForm.title">
  <div *ngIf="!titreValidation.valid">
    Le titre est mal saisie
  </div>

  <label for="contenu">Contenu de l'article</label>

  <textarea required #validationContenu="ngModel" name="contenu" id="contenu" [(ngModel)]="articleForm.contenu"></textarea>
  <div *ngIf="!validationContenu.valid">
    Vous devez saisir un contenu
  </div>

  <label for="image">Image de l'article</label>
  <input type="text" name="image" [(ngModel)]="articleForm.image" id="image">


  <input [disabled]="!globalFormValidation.valid" type="submit">
</form>
